# APP CONFIG
APP_NAME="Nature Bio Life"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_PORT=8000

# DATABASE CONFIG
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=nature_biolife_dev
DB_USERNAME=laravel_user
DB_PASSWORD=secret_password
DB_ROOT_PASSWORD=root_secret_password

# DRIVERS
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file